/* Reset body's margin and padidng to 0 for full-width window
+ position relative if position absolute child's are used */

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* Position our main container in the middle of the screen with
a fixed width and height, relative to body-container */

#body-container {
    width: 100%;
    height: 100%;
    background: #181818;
}

#main-container {
    width: 1330px;
    height: 725px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
}

/* Hide a complete div or element */

.hide {
    display: none;
}


/* #################### INTRO STYLE ###############################  */

/* Intro scene initial setup */

#intro {
    width: 100%;
    height: 100%;
    background-image: url(intro/intro-background.jpg);
    overflow: hidden;
    position: relative;
}


/* Bates sign in intro */

.intro-bates-sign {
    background-image: url(intro/intro-bates-glow.png);
    height: 429px;
    width: 551px;
    position: absolute;
    top: 89px;
    left: 236px;
    pointer-events: none;
    cursor: none;
    z-index: 10;

}

.intro-bates-glow {
    animation: intro-batesGlow .7s;
}

@keyframes intro-batesGlow {
    20% {
        -webkit-filter: drop-shadow(5px 5px 15px yellow);
        filter: drop-shadow(5px 5px 15px yellow);
    }
}

/* Vacancies sign in intro */

.intro-vacany-sign {
    background-image: url(intro/intro-vacancy-glow.png);
    height: 97px;
    width: 262px;
    position: absolute;
    top: 544px;
    left: 449px;

}

.intro-vacancy-glow {
    animation: intro-vacancyGlow .7s;
}

@keyframes intro-vacancyGlow {
    20% {
        -webkit-filter: drop-shadow(5px 5px 15px yellow);
        filter: drop-shadow(5px 5px 15px yellow);
    }
}


.intro-click-to-start {
    width: 560px;
    height: 430px;
    position: absolute;
    top: 100px;
    left: 220px;
    z-index: 20;

}

/* Cursor changes to pointer on hovering over Intro Start button */

.intro-click-to-start:hover {
    cursor: pointer;
}


/* #################### FIRST SCENE STYLE ##########################  */

/* First scene initial setup */

#sc-1 {
    width: 100%;
    height: 100%;
    background-image: url(scene1/scene1-background.jpg);
    overflow: hidden;
    position: relative;
}

/* First scene window setup */

.sc-1-window {
    background-image: url(scene1/glowy-windows.png);
    width: 89px;
    height: 54px;
    position: absolute;
    top: 538.5px;
    left: 797px;
    opacity: .7;
}

/* With javascript, adding randomly and removing animation of glowing window */

.sc-1-window-glow {
    animation: sc-1-windowGlow .4s;
}

@keyframes sc-1-windowGlow {
    40% {
        -webkit-filter: drop-shadow(0px 0px 15px 10px yellow);
        filter: drop-shadow(1px 1px 5px yellow);
        box-shadow: 0 0 20px 0px yellow;

    }
}

/* Cursor changes to pointer on hovering over Window */

.sc-1-window:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(5px 5px 20px #f7f15b);
    filter: drop-shadow(5px 5px 20px #f7f15b);
}

.sc-1-neon-sign {
    background-image: url(scene1/neon-sign-glow.png);
    width: 286px;
    height: 257px;
    position: absolute;
    top: 229px;
    left: 138px;
    opacity: .9;
}

.sc-1-neon-sign-flickering {
    animation: sc-1-flickering .5s;
}

@keyframes sc-1-flickering {
    50% {
        -webkit-filter: drop-shadow(5px 5px 20px #f7f15b);
        filter: drop-shadow(5px 5px 20px #f7f15b);
    }
}

.sc-1-neon-sign:hover {
    -webkit-filter: drop-shadow(5px 5px 20px #f7f15b);
    filter: drop-shadow(5px 5px 20px #f7f15b);
}


/* #################### SECOND SCENE STYLE ##########################  */

/* Second scene initial setup */

#sc-2 {
    width: 100%;
    height: 100%;
    background-image: url(scene2/screen2-background.jpg);
    overflow: hidden;
    position: relative;

}

.sc-2-object-1 {
    background-image: url(scene2/screen2-object1-window.png);
    background-repeat: no-repeat;
    height: 772px;
    width: 503px;
    position: absolute;
    top: -79px;
    left: 305px;
    transform: scale(.45);
    background-position: 0px -40px
}

.sc-2-object-1 {
    animation: curtainUp 1.5s 8s ease-in forwards;


}

@keyframes curtainUp {
    0% {
        -webkit-filter: drop-shadow(2px 5px 10px white);
    }
    100% {
        background-position: 0px -450px;

    }
}

.sc-2-object-2 {
    background-image: url(scene2/screen2-object2-lamp.png);
    height: 263px;
    width: 392px;
    position: absolute;
    top: 202px;
    left: 542px;
    transform: scale(.45);
}

.sc-2-object-2 {
    animation: lampOn 4s ease-out forwards
}

@keyframes lampOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.sc-2-object-3 {
    background-image: url(scene2/screen2-object3-key.png);
    height: 233px;
    width: 138px;
    position: absolute;
    top: 68px;
    left: 926px;
    transform: scale(.4);
}

.sc-2-object-3 {
    animation: jingleKeys .5s 4s linear 10;

}

/* Add jingling Key sound */

@keyframes jingleKeys {
    0% {
        transform: rotate(5deg) scale(.48);
        transform-origin: 50% 50%;
    }
    50% {
        transform: rotate(-10deg) scale(0.48);
        transform-origin: 50% 50%;
        opacity: .9;
        -webkit-filter: drop-shadow(2px 5px 10px white);
    }
    100% {
        transform: rotate(5deg) scale(0.48);
        transform-origin: 50% 50%;
    }
}

.sc-2-object-4 {
    background-image: url(scene2/screen2-object4-vase.png);
    height: 625px;
    width: 496px;
    position: absolute;
    top: 268px;
    left: 426px;
    transform: scale(.4);
}


.sc-2-object-5 {
    background-image: url(scene2/screen2-object5-plant.png);
    height: 733px;
    width: 1458px;
    position: absolute;
    top: 187px;
    left: -470px;
    transform: scale(.47);

}

.sc-2-continue {
    cursor: pointer;
}



/* #################### THIRD SCENE STYLE ##########################  */

#sc-3 {
    width: 1330px;
    height: 725px;
    position: relative;
    overflow: hidden;
}

#sc-3-zoomContainer {
    background-image: url(scene3/scene3-background.jpg);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.sc-3-zoomIn {
    animation: zoomCreep 6s ease-out forwards;
}

@keyframes zoomCreep {
    to {
        transform: scale(5) translate(-300px, 60px);
    }
}

.sc-3-object-1 {
    background-image: url(scene3/scene3-object1.png);
    width: 1002px;
    height: 1021px;
    position: absolute;
    top: -185px;
    left: 489px;
    transform: scale(.43);
}

.sc-3-object-2 {
    background-image: url(scene3/scene3-object2.png);
    width: 1002px;
    height: 1021px;
    position: absolute;
    top: -185px;
    left: 489px;
    transform: scale(.43);
    opacity: 1;
}

.sc-3-object-2-Animate {
    animation: spinImage 2s forwards;
}

@keyframes spinImage {
    to {
        transform: scale(.43) rotate(40deg);
        transform-origin: 309px 350px;
        opacity: .3;
    }
}

.sc-3-object-3 {
    background-image: url(scene3/scene3-object3.png);
    width: 1002px;
    height: 1021px;
    position: absolute;
    top: -303px;
    left: -369px;
    transform: scale(.43);
}

.sc-3-object-3 {
    animation: lazerEyes 1s 3s ease-in forwards
}

@keyframes lazerEyes {
    100% {
        transform: rotate(360deg) translateX(485px)translateY(215px)scale(.43);
        opacity: 0;
    }
}

.sc-3-object-4 {
    background-image: url(scene3/scene3-object4.png);
    width: 1002px;
    height: 1021px;
    position: absolute;
    top: -98px;
    left: 133px;
    transform: scale(.30);

}

.sc-3-object-4 {
    animation: flameOn 2s 3.2s ease-out forwards
}

@keyframes flameOn {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}




/* #################### FOURTH SCENE STYLE ##########################  */

#sc-4 {
    width: 100%;
    height: 100%;
    background-image: url(scene4/scene4-background.jpg);
    overflow: hidden;
    position: relative;
}

.sc-4-continue {
    cursor: pointer;
}

.sc-4-object-1 {
    background-image: url(scene4/scene4-object1.png);
    height: 992px;
    width: 717px;
    position: absolute;
    top: -215px;
    left: -85px;
    transform: scale(.47);

}

.sc-4-object-2 {
    background-image: url(scene4/scene4-object2.png);
    height: 358px;
    width: 250px;
    position: absolute;
    top: 100px;
    left: 970px;
    transform: scale(.47);
}

.sc-4-object-3 {
    background-image: url(scene4/scene4-object3.png);
    height: 142px;
    width: 133px;
    position: absolute;
    top: 567px;
    left: 363px;
    transform: scale(.47);
}

.sc-4-object-4 {
    background-image: url(scene4/scene4-object4.png);
    background-repeat: no-repeat;
    background-position: -43px 0px;
    height: 183px;
    width: 725px;
    position: absolute;
    top: -49px;
    left: 275px;
    transform: scale(.47);
}

.sc-4-object-5 {
    background-image: url(scene4/scene4-object5.png);
    background-repeat: no-repeat;
    background-position: -100px 0px;
    height: 1408px;
    width: 817px;
    position: absolute;
    z-index: 10;
    top: -391px;
    left: 252px;
    transform: scale(.47);
    cursor: pointer;
}

.sc-4-object-6 {
    background-image: url(scene4/bloodyhandprints.png);
    background-repeat: no-repeat;
    opacity: 0.9;
    height: 2595px;
    width: 1542px;
    position: absolute;
    top: 26px;
    left: 412px;
    transform: scale(0.8);
}

.sc-4-moveCurtain {
    animation: sc-4-slideCurtain 1.8s linear forwards;
}

@keyframes sc-4-slideCurtain {
    to {
        background-position: -900px 0px;
    }
}

.plantFalling {
    animation: plantSmashing 0.12s forwards;
}

@keyframes plantSmashing {
    to {
        transform: rotate(90deg) scale(.47);
        top: -60px;
        left: 30px;
    }
}








/* #################### FIFTH SCENE STYLE ##########################  */

#sc-5 {
    width: 100%;
    height: 100%;
    background-image: url(scene5/scene5-background.jpg);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.sc-5-foreground {
    width: 100%;
    height: 100%;
    background-image: url(scene5/scene5-foreground.png);
    position: absolute;
    z-index: 10
}

.sc-5-continue {
    cursor: pointer;
}

.sc-5-object-1 {
    background-image: url(scene5/scene5-object1.png);
    width: 932px;
    height: 1357px;
    position: absolute;
    top: -45px;
    left: 784px;
    transform: scale(.35);
}

.sc-5-object-2 {
    background-image: url(scene5/scene5-object2.png);
    width: 1428px;
    height: 2382px;
    position: absolute;
    top: -835px;
    left: -244px;
    transform: scale(.35);
}

.sc-5-object-3 {
    background-image: url(scene5/scene5-object3.png);
    width: 415px;
    height: 428px;
    position: absolute;
    z-index: 16;
    top: 130px;
    left: 635px;
    transform: scale(.28);
}

.sc-5-object-4 {
    background-image: url(scene5/womanshadow1.png);
    background-repeat: no-repeat;
    opacity: .9;
    width: 578px;
    height: 766px;
    position: absolute;
    z-index: 22;
    top: -43px;
    left: 543px;
    transform: scale(.045);
    pointer-events: none;
}






/* #################### SIXTH SCENE STYLE ##########################  */

#sc-6 {
    width: 100%;
    height: 100%;
    background-image: url(scene6/scene6-background.jpg);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.sc-6-continue {
    cursor: pointer;
}

.sc-6-object-1 {
    background-image: url(scene6/scene6-object1.png);
    width: 313px;
    height: 331px;
    position: absolute;
    top: 185px;
    left: -29px;
    transform: scale(.5);
}

.sc-6-object-2 {
    background-image: url(scene6/scene6-object2.png);
    width: 950px;
    height: 1825px;
    position: absolute;
    top: -540px;
    left: 309px;
    transform: scale(.48);
}

.sc-6-object-3 {
    background-image: url(scene6/scene6-object3.png);
    width: 1044px;
    height: 1175px;
    position: absolute;
    top: -510px;
    left: -129px;
    transform: scale(.48);
}

.swingChandelier {
    animation: swingChandelier 3.5s ease-in-out infinite;
}

@keyframes swingChandelier {
    0% {
        transform: rotate(5deg) scale(.48);
        transform-origin: 50% 50%;
    }
    50% {
        transform: rotate(-10deg) scale(0.48);
        transform-origin: 50% 50%;
        opacity: .9;
        -webkit-filter: drop-shadow(2px 5px 10px white);
    }
    100% {
        transform: rotate(5deg) scale(0.48);
        transform-origin: 50% 50%;
    }
}




/* #################### SEVENTH SCENE STYLE ##########################  */

#sc-7 {
    width: 100%;
    height: 100%;
    background-image: url(scene7/scene7-background.jpg);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.sc-7-continue {
    cursor: pointer;
}

.sc-7-object-1 {
    background-image: url(scene7/scene7-object1.png);
    height: 425px;
    width: 500px;
    position: absolute;
    top: -26px;
    left: 284px;
    transform: scale(.47);
}

.sc-7-object-2 {
    background-image: url(scene7/scene7-object2.png);
    height: 487px;
    width: 512px;
    position: absolute;
    top: -40px;
    left: 625px;
    transform: scale(.47);
}

.sc-7-object-3 {
    background-image: url(scene7/scene7-object3.png);
    height: 425px;
    width: 725px;
    position: absolute;
    top: 270px;
    left: 765px;
    transform: scale(.47);
}

.sc-7-object-4 {
    background-image: url(scene7/scene7-object4.png);
    height: 375px;
    width: 312px;
    position: absolute;
    top: 397px;
    left: -46px;
    transform: scale(.53);
}

.sc-7-object-5 {
    background-image: url(scene7/scene7-object5.png);
    height: 537px;
    width: 575px;
    position: absolute;
    top: 150px;
    left: 60px;
    transform: scale(.47);
    z-index: 20;
}

.sc-7-object-6 {
    background-image: url(scene7/windowbedroom1.png);
    background-repeat: no-repeat;
    opacity: 0.8;
    height: 638px;
    width: 566px;
    position: absolute;
    top: -73px;
    left: 93px;
    z-index: 1;
    transform: scale(.7);
}

.chairMoves {
    animation: chairMoving 3s ease-in-out;
    animation-iteration-count: 6;
}

@keyframes chairMoving {
    25% {
        transform: translateX(-3px) scale(.47);
    }
    50% {
        transform: translateX(3px) scale(.47);
    }
    75% {
        transform: translateX(-3px) scale(.47);
    }

}

.pictureFalls {
    animation: pictureFalls 1s forwards;
}

@keyframes pictureFalls {
    to {
        transform: rotate(30deg) translateY(20px) scale(.47);
    }
}











/* #################### EIGTH SCENE STYLE ##########################  */

#sc-8 {
    width: 100%;
    height: 100%;
    background-image: url(scene8/scene8-background.jpg);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.sc-8-continue {
    height: 100px;
    width: 100px;
    background: white;
    opacity: .5;
    cursor: pointer;
}

.sc-8-object-1 {
    background-image: url(scene8/scene8-object1.png);
    width: 2582px;
    height: 1481px;
    position: absolute;
    top: -313px;
    left: -586px;
    transform: scale(.46);
}

.sc-8-object-1Scale {
    animation: sc-8-ScaleSwamp 9s forwards;
}

@keyframes sc-8-ScaleSwamp {
    100% {
        transform: scale(1.9);
    }
}

.sc-8-object-2 {
    background-image: url(scene8/scene8-object2.png);
    height: 729px;
    width: 1381px;
    position: absolute;
    top: -43px;
    left: 18px;
    cursor: pointer;
    transform: scale(.48);
}

.sc-8-object-SinkCar {
    animation: sc-8-SinkCar 9s forwards;
}

@keyframes sc-8-SinkCar {
    30% {
        opacity: 0;
    }
    100% {
        transform: scale(.43) rotate(-20deg);
        opacity: 0;
    }
}

.sc-8-object-3 {
    background-image: url(scene8/scene8-object3.png);
    height: 267px;
    width: 1081px;
    position: absolute;
    top: 287px;
    left: 217px;
    pointer-events: none;
    transform: scale(.49);
    -webkit-filter: drop-shadow(15px 15px 30px #f7f15b);
    filter: drop-shadow(15px 15px 30px #f7f15b);
}



/* #################### CREDITS SCENE STYLE ##########################  */

#credits {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    position: relative;
    z-index: 1;

}

.credits-container {}

.credits-header {
    background-image: url(credits/credits-header.png);
    width: 1330px;
    height: 725px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 12;
    pointer-events: none;
}

.credits-header-flickering {
    animation: credits-headerFlickering .12s;
}

@keyframes credits-headerFlickering {
    50% {
        -webkit-filter: drop-shadow(0px 0px 5px #f7f15b);
        filter: drop-shadow(0px 0px 5px #f7f15b);
    }
}

.credits-names {
    background-image: url(credits/credits-names.png);
    background-position: -465px -670px;
    background-repeat: no-repeat;
    width: 400px;
    height: 425px;
    position: absolute;
    top: 300px;
    left: 450px;
}

.credits-names-flickering {
    animation: credits-namesFlickering .12s;
}

@keyframes credits-namesFlickering {
    50% {
        -webkit-filter: drop-shadow(0px 0px 5px #f7f15b);
        filter: drop-shadow(0px 0px 5px #f7f15b);
    }
}

.credits-names-rollDown {
    animation: credits-rollDown 9s linear forwards;
}

@keyframes credits-rollDown {
    100% {
        background-position: -465px -305px;
    }
}

.reload-button {
    position: absolute;
    top: 350px;
    left: 1000px;
    color: rgba(223, 223, 223, 0.79);
    background-color: rgba(63, 63, 63, 0.47);
    border: 2px rgba(111, 111, 111, 0.52) solid;
    border-radius: 20px;
    font-size: 27px;
    padding: 5px;
    cursor: pointer;
    z-index:3000;
}

.reload-button:hover {

    color: rgba(213, 223, 223, 0.79);
    background-color: rgba(171, 171, 171, 0.47);
    border: 2px rgba(111, 111, 111, 0.52) solid;
    border-radius: 20px;
    font-size: 27px;
    padding: 5px;
    cursor: pointer;
}

















/* #################### OTHER STUFF ##########################  */

/* Rain animation - add to parent container overflow hidden and position relative in order to work */

.drop {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(13, 52, 58, 1)), to(rgba(255, 255, 255, 0.6)));
    background: -moz-linear-gradient(top, rgba(13, 52, 58, 1) 0%, rgba(255, 255, 255, .6) 100%);
    width: 1px;
    height: 89px;
    position: absolute;
    bottom: 200px;
    animation: fall .63s linear infinite;
    pointer-events: none;
}

@keyframes fall {
    to {
        margin-top: 900px;
    }
}

/* Container of rain on/off switcher */

.description {
    height: 320px;
    width: 400px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 850px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 5px;

}

.description p,
.description h1 {
    margin: 0;
    margin-bottom: 5px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.description h1 {
    font-family: 'Dancing Script', cursive;
    margin: 50px 0px 20px 0px;
    font-weight: 800;
    font-size: 42px
}

.description p {
    padding: 10px;
    line-height: 29px;
}

.fullscreen {
    height: 65px;
    width: 300px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 560px;
    left: 900px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 5px;

}

.fullscreen p {
    margin: 0;
    margin-bottom: 5px;
    margin-top:5px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: Arial, Helvetica, sans-serif;
}



.rainNone {
    height: 65px;
    width: 300px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 630px;
    left: 900px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 5px;

}

.rainNone p {
    margin: 0;
    margin-bottom: 5px;
    margin-top:5px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Toggle Box Intro scene style */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 1px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f5483b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f5483b;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

/* MAKE THINGS GLOW */

.glow {
    animation: makeGlow .5s alternate infinite;
}

@keyframes makeGlow {
    to {
        -webkit-filter: drop-shadow(5px 5px 15px yellow);
        filter: drop-shadow(5px 5px 15px yellow);
    }
}

.glow2 {
    animation: makeGlow2 .5s alternate infinite;
}

@keyframes makeGlow2 {
    to {
        filter: drop-shadow(10px 10px 25px yellow);
    }
}




/* OLIIIIIIVVIIIIIIAAAAAAAAAAA START*/

/* OLIIIIIIVVIIIIIIAAAAAAAAAAA END*/
